*{
    border: 0;
    padding: 0;
    margin: 0;
}
a{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background: url(image/background.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}
.background{
    
}
section.container{
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    min-height: 500px;
}
header{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f4f5fd;
}
.head{
    width: 100%;
    display: inline-flex;
}
.logo{
    padding-left: 50px;
    width: 25%;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
.logo > img{
    width: 100%;
}
.logo > p{
    color: #8184a1;
    font-size: 14px;
}
.search_block {
    width: 45%;
    margin-top: 40px;
}
.search{
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.search > form{
    display: inline-flex;
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
}
.search > form > span{
    font-size: 20px;
    padding-left: 15px;
    line-height: 40px;
    color: #eee;
}
.search > form > input{
    height: 100%;
    width: 70%;
    margin-left: 5px;
    outline: none;
    font-family: 'Calibri Light';
    font-size: 20px;
    padding-left: 10px;
    border: none;
}
.search > form > input[type="submit"]{
    transition-delay: 50ms;
    transition-duration: 350ms;
    border: 1px solid #dee0ee;
    color: #575b71;
    background-color: white;
    border-radius: 5px;
    width: 60px;
    float: right;
    height: 30px;
    margin-top: 5px;
    margin-left: 50px;
    text-align: center;
    font-size: 16px;
    padding-left: 0;
}
.search > form > input[type="submit"]:hover{
    transition-delay: 50ms;
    transition-duration: 350ms;
    border: 1px solid #575b71;
    border: 1px solid #575b71;
    color: white;
    background-color: #575b71;
}
.time{
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
    font-family: 'Calibri Light';
    font-size: 18px;
}
.time > p{
    margin-left: 15px;
    color: #575b71;
}
.contacts{
    width: 30%;
    float: right;
    padding-right: 15px;
    padding-left: 100px;
    font-family: 'Calibri Light';
    color: #575b71;
}
.contacts > h3{
    margin-top: 0px;
}
.phone_call{
    transition-delay: 50ms;
    transition-duration: 350ms;
    margin-top: 5px;
    cursor: pointer;
    transition-delay: 50ms;
    transition-duration: 350ms;
    border: 1px solid #dee0ee;
    color: #575b71;
    border-radius: 5px;
    width: 160px;
    height: 35px;
    display: inline-flex;
}
.phone_call > p{
    font-family: 'Calibri Light';
    font-size: 16px;
    line-height: 33px;
}
.phone_call > span{
    font-size: 16px;
    line-height: 33px;
    margin-right: 10px;
    margin-left: 10px;
}
.phone_call:hover{
    transition-delay: 50ms;
    transition-duration: 350ms;
    border: 1px solid #575b71;
    border: 1px solid #575b71;
    color: white;
    background-color: #575b71;
}
nav > ul{
    width: 100%;
    padding-left: 15px;
    height: 32px;
    background-color: #edeef8;
    list-style:none;
    float: left;
    margin-top: 20px;
}
nav > ul > li{
    transition-delay: 50ms;
    transition-duration: 350ms;
    display: inline-block;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    color: #575b71;
    cursor: pointer;
}
nav > ul > li > a{
    transition-delay: 50ms;
    transition-duration: 350ms;
    color: #575b71;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    height: 32px;
    text-decoration: none;
}
nav > ul > li:hover {
    transition-delay: 50ms;
    transition-duration: 350ms;
    color: #fff;
    background: #8184a1;
}
nav > ul > li:hover a{
    transition-delay: 50ms;
    transition-duration: 350ms;
    color: #fff;
    text-decoration: none;
}
.top_menu{
    width: 100%;
    height: 46px;
    display: block;
    left: 0px;
    top: 46px;
    background: #575b71;
    display: none;
    z-index: 1000;
}
.panell{
    cursor: pointer;
    border-right:0.1px solid #eee;
    transition-delay: 50ms;
    transition-duration: 350ms;
    width:25%;
    height: 100%;
    background-color: #575b71;
}
.panell.lst{
    border-right:0px solid #eee !important;
}
.panell > ul{
    height: 100%;
    width: 100%;
    text-align: center;
    list-style: none;
    margin-bottom: 0 !important;
}
.panell:hover{
    transition-delay: 50ms;
    transition-duration: 350ms;
    width:25%;
    height: 100%;
    background-color: black;
}
.dropdown{
    width: 100%;
    height: 100%;
}
.dropdown-menu{
    position: fixed !important;
    transition-delay: 50ms;
    transition-duration: 350ms;   
    min-width: 99.6vw !important;
    left: 0 !important;
    top: 90px !important;
    border-radius: 0px !important;
    padding-top: 0px; !important;
    margin-top: 0px !important;
    background-color: black !important;
    border: 1px solid  black !important; 
}
.dropdown-menu > li{
    padding: 5px;
    padding-left: 20px;    
} 
.dropdown-menu > li:hover{
    color: white;
}
.dropdown-menu>li>a:{
    padding: 0 !important;
    color: white !important;
}
.dropdown-menu > li > a:hover{
    color: white !important;
    background-color: black !important;
}
.dropdown-toggle{
    width: 100px !important;
    height: 100px !important;
}
.dropdown.open{
    background-color: black;
    color: #8184a1;
    text-decoration: none!important;
}
.navig{
    line-height: 46px;
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    text-align: center !important;
    color: white !important;
    text-decoration: none !important;
}
.footer_panel {
    width: 100%;
    position: fixed;
    display: inline-flex;
    height: 46px;
    left: 0;
    bottom: 0;
    background-color: #fde037;
    z-index: 1000;
}

.foot_panel {
    display: inline-flex;
    border-right:0.1px solid white;
    transition-delay: 50ms;
    transition-duration: 350ms;  
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    height: 100%;
    background-color: #fde037;
    float: left;
}
.foot_panel:hover {
    transition-delay: 50ms;
    transition-duration: 350ms;  
    background-color: #cc9900;
}
.foot_panel:hover > .ico > span{
    transition-delay: 50ms;
    transition-duration: 350ms;  
    color: white;
}
.foot_panel:hover p{
    transition-delay: 50ms;
    transition-duration: 350ms;  
    color: white;
}
.foot_panel > .ico > span{
    transition-delay: 50ms;
    transition-duration: 350ms;  
    color: #cc9900;
    line-height: 46px;
    font-size: 24px;
}
.foot_panel > p{
    transition-delay: 50ms;
    transition-duration: 350ms;  
    color: black;
    text-decoration: underline;
    line-height: 46px;
    margin-left: 20px;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
.foot_panel_basket  > .ico  > span{
    transition-delay: 50ms;
    transition-duration: 350ms;  
    color: #cc9900;
    line-height: 46px;
    font-size: 24px;
}
.foot_panel_basket {
    display: inline-flex;
}
.foot_panel_basket > a{
    transition-delay: 50ms;
    transition-duration: 350ms;  
    color: black;
    text-decoration: underline;
    line-height: 46px;
    margin-left: 20px;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
.foot_panel.l{
    cursor: default;
    width: 7%;
    float: right;
}
.foot_panel_basket{
    width: 30%;
    padding-left: 100px;
    float: right;
}
.ft_p {
    border-left:0.1px solid white;
    border-right:0.1px solid white;
    width: 84%;
    margin: 0 auto;
}

.content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 150px;
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
    display: inline-flex;
}

.right_column {
    width: 75%;
    min-height: 300px;
}

.left_column {
    width: 25%;
    height: 200px;
    float: left;
}
.left_column > h3{
    color: #575b71;
    margin-top: 0;
}
.slide {
    background: url(image/slide2.jpg);
    background-position: bottom;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    height: 300px;
}  
.slide::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: rgba(232,234,223,0.3);
}
ul.left_menu{
   list-style-type: none; 
    width: 100%;
}
ul.left_menu > li {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 5px;
    width: 94%;
    position: relative;
}
.ssilka {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-delay: 50ms;
    transition-duration: 350ms; 
    padding: 7px 32px 7px 11px;
    font-size: 14px;
    font-weight: 700;
    color: #575b71;
    position: relative;
    border: 1px solid #dee0ee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    width: 94%;
    z-index: 500;
}
.ssilka > span{
    position: absolute;
    top: 27%;
    right: 15px;
}
.ssilka_hover{
    transition-delay: 50ms;
    transition-duration: 350ms; 
    background-color: #fde037;
    border: 1px solid #fde037;
    border-radius: 4px 0 0 4px;
    width: 98%;
    position: relative;
}
.catalog_section_childs {
    position: absolute;
    padding: 5px;
    top: 0px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    min-width: 754px;
    z-index: 200;
    left: 260px;
    border: 4px solid #fde037;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    background: #fff;
}

.catalog_section_child {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    display: inline-flex;
}
.catalog_section_child > a{
    width: 236px;
    height: 58px;
    display: block;
    margin: 0px;
    padding: 0px;
}

.text_cont {
    transition-delay: 50ms;
    transition-duration: 350ms;
    height: 56px;
    padding: 0px 12px;
}

.image {
    width: 66px;
    height: 56px;
}
.image > img{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.child {
    transition-delay: 50ms;
    transition-duration: 350ms;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid grey;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    box-shadow:0px 0px 0px 0px rgba(0,0,0,0);
}
.child:hover .text{
    transition-delay: 50ms;
    transition-duration: 350ms;
    color: #cc9900;
    text-decoration: none;
}
.child:hover{
    transition-delay: 50ms;
    transition-duration: 350ms;
    border: 1px solid #fde037;
    box-shadow:0px 1px 6px 4px rgba(0,0,0,0.2);
}
.text{
    transition-delay: 50ms;
    transition-duration: 350ms;
    line-height: 56px;
    color: black;
    padding-left: 15px;
    max-height: 54px;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.advantages {
    padding: 15px;
    width: 100%;
    border-bottom: 1px dotted #8184a1;
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-between;
}

.adv-item {
    float: left;
    width: auto;
    padding: 10px;
    display: inline-flex;
    position: relative;
}
.adv-item > span{
    color: #575b71;
    line-height: 28px;
    font-size: 20px;
}
.adv-item > p{
    margin-left: 10px;
    color: #575b71;
    line-height: 16px;
}
.promotions {
    width: 100%;
    padding-bottom: 15px;
    color: #575b71;
}

.promotions_block {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-between;
    min-height: 150px;
    position: relative;
}
.promotions > h3{
    margin-bottom: 0;
}
.promotions_item {
    text-decoration: none;
    border: 1px solid #dee0ee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    width: 260px;
    height: 180px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}
.promotion_image{
    width: 260px;
    height: 150px;
    background: url(image/sell.jpg);
    background-position: center;
    background-size: cover;
}
.promotions_name {
    min-height: 30px;
    width: 100%;
    background-color: #eee;
}
.promotions_name > a{
    margin-left: 10px;
    color: #575b71;
    line-height: 30px;
}
.banners_main {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 300px;
    display: inline-flex;
    flex-wrap: wrap;
}

.banners_main_item_first {
    transition-delay: 50ms;
    transition-duration: 350ms; 
    width: 50%;
    height: 270px;
    position: relative;
    border: 0.5px solid white;
    background: url(image/slide3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.banners_main_item_first::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.banners_main_item_first:hover::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: rgba(232,234,223,0.3);
}

.banners_main_item_second {
    position: relative;
    transition-delay: 50ms;
    transition-duration: 350ms; 
    width: 50%;
    height: 270px;
    border: 0.5px solid white;
    background: url(image/slide5.jpg) no-repeat;
    background-position: top;
    background-size: cover;
}
.banners_main_item_second::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.banners_main_item_second:hover::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: rgba(232,234,223,0.3);
}
.banners_main_item_third {
    position: relative;
    transition-delay: 50ms;
    transition-duration: 350ms; 
    width: 25%;
    height: 270px;
    border: 0.5px solid white;
    background: url(image/slide4.jpg) no-repeat;
    background-position: top;
    background-size: cover;
}
.banners_main_item_third::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.banners_main_item_third:hover::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: rgba(232,234,223,0.3);
}
.banners_main_item_fourth {
    position: relative;
    transition-delay: 50ms;
    transition-duration: 350ms; 
    width: 50%;
    height: 270px;
    border: 0.5px solid white;
    background: url(image/slide2.jpg) no-repeat;
    background-position: top;
    background-size: cover;
}
.banners_main_item_fourth::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.banners_main_item_fourth:hover::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: rgba(232,234,223,0.3);
}
.banners_main_item_fifth {
    position: relative;
    transition-delay: 50ms;
    transition-duration: 350ms; 
    width: 25%;
    height: 270px;
    border: 0.5px solid white;
    background: url(image/slide6.png) no-repeat;
    background-position: top;
    background-size: cover;
}
.banners_main_item_fifth::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.banners_main_item_fifth:hover::after{
    transition-delay: 50ms;
    transition-duration: 350ms;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: rgba(232,234,223,0.3);
}
.banners_main_item_first > a{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
.banners_main_item_second > a{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
.banners_main_item_third > a{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
.banners_main_item_fourth > a{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
.banners_main_item_fifth > a{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
footer{
    min-height: 250px;
    background-color: #f4f5fd; 
}
.news_block {
    width: 100%;
    min-height: 60px;
    padding-top: 20px;
    color: #575b71;
}

.news_block_item {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px dotted #dee0ee;
    min-height: 40px;
    display: inline-flex;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.news_block_item > img{
    width: 57px;
    height: 37px;
    margin-top: 5px;
}
.news_block_item_desc {
    max-width: 200px;
    height: 65px;
    overflow: hidden;
    padding-left: 10px;
}

.date {
    font-size: 12px;
}

.news_block_text {
    color: #575b71;
    text-decoration: underline;
}

.act {
    background-color: white !important;
}

.body_text {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.body_text > p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8184a1;
    text-align: left;
    line-height: 1.3;
}
.body_text >h1 , .body_text >h2 {
    color: #575b71;
    line-height: 1.1;
    font-size: 24px;
}

.footer_block {
    width: 100%;
    min-height: 100px;
    padding-bottom: 80px;
    display: inline-flex;
    position: relative;
}

.footer_menu {
    padding-top: 10px;
    width: 70%;
    color: #575b71;
    min-height: 100px;
    padding-left: 15px;padding-right: 15px;
    display: inline-flex;
    justify-content: space-around;
}

.footer_payment {
    width: 30%;
    height: 100%;
    color: #575b71;
    padding-left: 40px;
}
.footer_payment > h4{
    margin-top: 20px;
}
.footer_payment > img{
    width: 160px;
    margin-top: 10px;
}
.footer_menu > ul > li{
    list-style-type: none;
}
.footer_menu > ul > li > a{
    color: #575b71;
    text-decoration: underline;
    padding-left: 5px;
}